In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import mpl_toolkits
%matplotlib inline

In [15]:
file1 = pd.read_csv("stock1.csv");
file2 = pd.read_csv("stock2.csv")

In [16]:
train1 = file1.drop(['name', 'date'],axis=1)
train2 = file2.drop(['name', 'date'],axis=1)

In [17]:
train1.head()

          a         b      c         d     price
0   56.4171   57.6086    0.0   57.0881  18964000
1   36.7000   38.0000   36.5   37.6000    560965
2   30.3000   31.0000   30.3   30.8000    897166
3  389.9000  395.0000  386.1  387.3000     50714
4  127.5000  132.0000  127.5  129.2000    148327

In [36]:
labels1 = train1['price']
labels2 = train2['price']

In [37]:
from sklearn.cross_validation import train_test_split

In [85]:
x_train , x_test , y_train , y_test = train_test_split(train1 , labels1 , test_size = 0.00,random_state =2)
xx_train , xx_test , yy_train , yy_test = train_test_split(train2 , labels2 , test_size = 0.4,random_state =2)

In [86]:
from sklearn import ensemble
clf = ensemble.GradientBoostingRegressor(n_estimators = 600, max_depth = 5, min_samples_split = 2,
          learning_rate = 0.05, loss = 'ls')

In [87]:
clf.fit(x_train, y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.05, loss='ls', max_depth=5, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=600, presort='auto', random_state=None,
             subsample=1.0, verbose=0, warm_start=False)

In [88]:
clf.score(xx_test,yy_test)

0.945713427966115

In [90]:
xx_test.describe()

                 a            b            c            d         price
count   126.000000   126.000000   126.000000   126.000000  1.260000e+02
mean    110.212698   111.302381   109.003968   110.087302  1.481149e+07
std     313.529634   318.700505   312.936914   317.622023  1.645170e+08
min       0.000000     0.000000     0.000000     0.000000  9.000000e+00
25%      15.525000    16.000000    15.300000    15.400000  8.609750e+03
50%      24.700000    25.050000    24.100000    24.550000  5.643800e+04
75%      67.425000    67.725000    66.100000    66.750000  1.813335e+05
max    2871.000000  2940.000000  2871.000000  2935.000000  1.846850e+09