In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import mpl_toolkits
%matplotlib inline

In [15]:
file1 = pd.read_csv("stock1.csv");
file2 = pd.read_csv("stock2.csv")

In [16]:
train1 = file1.drop(['name', 'date'],axis=1)
train2 = file2.drop(['name', 'date'],axis=1)

In [17]:
train1.head()

          a         b      c         d     price
0   56.4171   57.6086    0.0   57.0881  18964000
1   36.7000   38.0000   36.5   37.6000    560965
2   30.3000   31.0000   30.3   30.8000    897166
3  389.9000  395.0000  386.1  387.3000     50714
4  127.5000  132.0000  127.5  129.2000    148327

In [36]:
labels1 = train1['price']
labels2 = train2['price']

In [37]:
from sklearn.cross_validation import train_test_split

In [67]:
x_train , x_test , y_train , y_test = train_test_split(train1 , labels1 , test_size = 0.00,random_state =2)
xx_train , xx_test , yy_train , yy_test = train_test_split(train2 , labels2 , test_size = 0.5,random_state =2)

In [68]:
from sklearn import ensemble
clf = ensemble.GradientBoostingRegressor(n_estimators = 600, max_depth = 5, min_samples_split = 2,
          learning_rate = 0.05, loss = 'ls')

In [69]:
clf.fit(x_train, y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.05, loss='ls', max_depth=5, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=600, presort='auto', random_state=None,
             subsample=1.0, verbose=0, warm_start=False)

In [ ]:
clf.fit(xx_train, yy_train)

In [70]:
clf.score(xx_test,yy_test)

0.945798369079918

In [72]:
xx_train.describe()

                 a            b            c            d         price
count   157.000000   157.000000   157.000000   157.000000  1.570000e+02
mean    128.249308   129.079937   125.785223   126.976434  5.183280e+05
std     431.513986   432.111168   424.401082   426.226985  3.514206e+06
min       4.300000     4.300000     0.000000     4.200000  4.000000e+00
25%      16.900000    17.000000    16.200000    16.700000  1.231400e+04
50%      29.300000    29.500000    27.200000    29.100000  5.010600e+04
75%      70.000000    71.500000    69.000000    70.600000  1.907580e+05
max    4724.050000  4724.050000  4630.980000  4654.950000  4.168950e+07